# Object files
*.o
*.def
*.exp

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.pyc

# autoconf

/autom4te.cache/
/.dirstamp
/ChangeLog
/Makefile
/assets/Makefile
/assets/icons/Makefile
/config.h
/config.log
/config.status
/dandeclient
/dandeclientsrc/Makefile
/dandelion
/debian/dandelion.debhelper.log
/debian/dandelion/
/src/Makefile
/stamp-h1
.deps/

# Specific files
.dandelion.xml
















